
body{
  overflow: hidden;
}
.sid-bar{
  height: 100vh;
  background-color: #FFFFFF;
  display: flex ;

}

#slidbox{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999999999999999;
  background-color: #212529;
  display: flex;
  
}



a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
ul li {
  list-style: none;
  padding: 10px 0;
}

i{
  color: #fff;
  cursor: pointer;
}



.img-api img{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.layer{
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);

  top: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}


.img-api:hover .layer {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
    border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}





.boxContainer {
  height: 100vh;
  width: 100%;
  background-color: #27282b;
  z-index: 99999999999999999999999999999999;
}
 .coustemboxContainer {
  display: none;
} 

.sub{
  position: absolute;
  left: 47%;
  right: 0;
  top: 60%;
  width: 80px;
  margin-top: 16px;
}


#spinner{
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999999999999999999999999999999999999999999999999999999;
display: flex;
}
.dot1,.dot2{
background-color: #fff !important;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}